<p>{% extends 'flatpages/default.html' %} {% block title %} {{ flatpage.title }} {% endblock title %} {% block content %}</p>
<h1><strong><span style="text-decoration: underline;"><span style="color: #99cc00; text-decoration: underline;">{{ flatpage.title }}</span></span></strong></h1>
<hr />
<p><em><span style="background-color: #999999; color: #ffff99;">Наши контакты:</span></em></p>
<p><span style="color: #00ff00;"><span style="color: #339966;">{{ flatpage.content }} {% endblock content %}</span></span></p>